{% extends 'base.html' %} 

{% block body %}
    <div class="container">
        <h1 style="text-align: center;">List of Academy Award-winning films</h1>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th class="col-md-2" scope="col" style="text-align: center;">ID</th>
                    <th class="col-md-5" scope="col" style="text-align: center;">Name</th>
                    <th class="col-md-3" scope="col" style="text-align: center;">Year</th>
                    <th class="col-md-2" scope="col" style="text-align: center;">Awards</th>
                </tr>
            </thead>
          </table>
        {%  for q in object_list %}
        <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-md-2" scope="col" style="text-align: center;">{{ q.Id }}</th>
                <td class="col-md-5" scope="col" style="text-align: center;">{{ q.Name }}</td>
                <td class="col-md-3" scope="col" style="text-align: center;">{{ q.YearNo }}</td>
                <td class="col-md-2" scope="col" style="text-align: center;">{{ q.Awards }}</td>
              </tr>
            </tbody>
        </table>   
        {% endfor %}
    </div>
{% endblock %}